<section class=" flex-fill">
    <div class=" text-center">

        <h1>Contact Us</h1>

        <div class=" " container>
            
                <div class=" contact us"></div>
                <div class="box"></div>
                <div class="icon"></div>
                <div class=" text">
                    <h5>MobiZone store</h5>
                    <p><br>Eranakulam <br> Kakkanad<br>Pin:654432</p>
                </div>
                <div class="box"></div>
                <div class="icon"></div>
                <div class=" text">
                    <h5>Email</h5>
                    <p> Mobizone@gmail.com</p>
                </div>
        </div>
        <div class="box"></div>
        <div class="icon"></div>
        <div class=" text">
            <h5>Phone</h5>
            <p>9678534650</p>
        </div>
        
        <style>
            .container {
                width: 200%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
            }
        </style>
</section>
}