
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="border-top footer text-muted">

    <ul class="list">

        <img src="~/css/image/MobiZone-logos_black.png" alt="Mobizone" style="width:140px"  class="float-left"/>
            
        <li class="about">
            <a asp-controller="Home" asp-action="Company">Company</a>

        <li class="about">
            <a asp-controller="Home" asp-action="About">About</a>
        </li>
        <li class="about">
            <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </li>
        <li class="about">
            <a asp-controller="Home" asp-action="Contact">Contact</a>

        </li>
     </ul>

        <img src="~/css/image/copyright-38672_1280.png" alt="Mobizone" style="width:18px;" />
        <a href=#> Mobizone private limited all right reserved</a>

      


</footer>