<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
    <link rel="stylesheet" href="~/css/_sidebar.css" />
    <script src="~/js/site.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>
    @*<header>*@

        <!--<!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <!--<div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">-->
        <!----><!---->
        <!---->
        <!--@*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
    </li>*@-->
        <!--</ul>
    </div>-->
        <!--</div>-->
        <!--</nav>-->
        <!--</header>-->
        <!-- As a link -->

        <partial name="_NavBar">
            <div>
                @RenderBody()
            </div>


            @*<partial name="_Sidebar">*@

                <partial name="_Footer">

                    @*<footer class="border-top footer text-muted">

            <ul class="list">

                <img src="~/css/image/MobiZone-logos_black.png" alt="Mobizone" style="width: 140px;"
                     class="float-left" />


                <li class="about">
                    <a asp-controller="Home" asp-action="Company">Company</a>

                <li class="about">
                    <a asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="about">
                    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </li>
                <li class="about">
                    <a asp-controller="Home" asp-action="Contact">Contact</a>

                </li>
                <hr>

                <img src="~/css/image/copyright-38672_1280.png" alt="Mobizone" style="width:18px;" />
                <a href=#> Mobizone private limited all right reserved</a>

                </li>


        </footer>*@

                    
                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
