@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index">MOBIZONE</a>
        <div>
            <input class="input-group-lg" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div>
            <a class="mr-3">Register</a>
            <a class="mr-3">Login</a>
            <i class="fa-solid fa-cart-shopping"></i>
            <a class="mr-3">Account</a>
        </div>
    </div>
</nav>
    </header>