<div class="" style="padding-top:60px;">
    <div class="sidebar">
        <a asp-action="">Dashboard</a>
        <a id="product">Filter</a>
        <div id="dropdown">
            <a asp-action="Create">Brand</a>
        </div>
        <a id="dropdown" asp-action="Create">Sort</a>
        <div id="Price">
            <a asp-action="Create">Price</a>
        </div>
    </div>
    </div>
    
  
  
